<div class="lesson">
  <p>list-render works!</p>
  <h3>Lista</h3>
  <ul>
    <li *ngFor="let animal of animals">
      <p>Name: {{ animal.name }} - Tipo: {{ animal.type }}</p>
      <button (click)="animal.changeShowAge()">
        <p *ngIf="animal.showAge; else mostrarIdade">Esconder idade</p>
        <ng-template #mostrarIdade>Mostrar idade</ng-template>
      </button>
      <p *ngIf="animal.showAge">Idade: {{ animal.age }} anos.</p>
      <button (click)="removeAnimal(animal)">Excluir</button>
    </li>
  </ul>
</div>
